$uni-color-primary: #675cf6;
$uni-color-success: #16b98c;
$uni-color-warning: #f6a723;
$uni-color-error: #ff6b7a;
$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f5f7fb;
$uni-text-color: #101828;
$uni-border-color: #e6eaf0;
